In [4]:
!pip install -U sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied, skipping upgrade: scikit-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (from sklearn) (0.20.3)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.15.4)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

# Data Science Capstone Week 1

In [25]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing, metrics, svm
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Capstone Week 2

Loading data

In [7]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

## Drop features that have no impact on outcome, such as arbitrary report numbers, etc.

In [8]:
df.drop(['OBJECTID', 'INCKEY', 'INTKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'INCDATE', 'SEVERITYCODE.1', 'SEVERITYDESC', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'X','Y', 'SDOT_COLCODE', 'SDOT_COLDESC', 'SDOTCOLNUM'], 1, inplace = True)

## Check datatypes of imported data

In [9]:
df.dtypes

SEVERITYCODE       int64
STATUS            object
ADDRTYPE          object
LOCATION          object
COLLISIONTYPE     object
PERSONCOUNT        int64
PEDCOUNT           int64
PEDCYLCOUNT        int64
VEHCOUNT           int64
INCDTTM           object
JUNCTIONTYPE      object
INATTENTIONIND    object
UNDERINFL         object
WEATHER           object
ROADCOND          object
LIGHTCOND         object
PEDROWNOTGRNT     object
SPEEDING          object
HITPARKEDCAR      object
dtype: object

## Preprocessing - Review each feature and fill in the NA's.

In [10]:
df['SPEEDING'].fillna('N', inplace =True)
df['INATTENTIONIND'].fillna('N', inplace =True)
df['ROADCOND'].fillna('Unknown', inplace = True)
df['LIGHTCOND'].fillna('Unknown', inplace = True)
df['WEATHER'].fillna('Other', inplace = True)
df['UNDERINFL'].replace({'N':'0', 'Y':'1'}, inplace = True)
df['COLLISIONTYPE'].fillna('Other', inplace = True)

## Filling in the remaining NA's with '-99999' to make them extreme outliers

In [11]:
df.fillna(-99999, inplace = True)

## Checking how many more features have NA's

In [12]:
df.isnull().sum(axis = 0)

SEVERITYCODE      0
STATUS            0
ADDRTYPE          0
LOCATION          0
COLLISIONTYPE     0
PERSONCOUNT       0
PEDCOUNT          0
PEDCYLCOUNT       0
VEHCOUNT          0
INCDTTM           0
JUNCTIONTYPE      0
INATTENTIONIND    0
UNDERINFL         0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
PEDROWNOTGRNT     0
SPEEDING          0
HITPARKEDCAR      0
dtype: int64

## Handling the non-numerical data

In [13]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x += 1
            df[column] = list(map(convert_to_int, df[column]))
    return df
df = handle_non_numerical_data(df)
df.head

<bound method NDFrame.head of         SEVERITYCODE  STATUS  ADDRTYPE  LOCATION  COLLISIONTYPE  PERSONCOUNT  \
0                  2       0         0     19927              8            2
1                  1       0         2     18272              2            2
2                  1       0         2     11344              7            4
3                  1       0         2     20114              5            3
4                  2       0         0      3004              8            2
5                  1       0         0     15744              8            2
6                  1       0         0      4918              8            2
7                  2       0         0     19329              1            3
8                  1       0         2     21349              7            2
9                  2       0         0     17720              8            2
10                 1       0         3      5638              5            2
11                 1       0         0       807              8            2
12                 1       1         2       305              4            0
13                 1       0         2       192              7            2
14                 2       0         2     15670              9            2
15                 1       1         2      4526              5            1
16                 2       0         0     22002              6            3
17                 1       0         2     18800              4            0
18                 2       0         2     16118              4            4
19                 1       0         2     13015              7            2
20                 2       0         2     19417              4            3
21                 2       0         0     20775              8            5
22                 1       0         2      4723              7            2
23                 1       0         2     10637              5            1
24                 2       0         0     13434              4            3
25                 2       0         2     18999              1            2
26                 1       0         0     19159              6            2
27                 1       0         2      8891              8            2
28                 1       0         2     23428              5            2
29                 1       0         2     13814              7            2
...              ...     ...       ...       ...            ...          ...
194643             1       0         2      6502              7            2
194644             1       0         0      3312              8            2
194645             2       0         0     13716              0            5
194646             1       1         2     19789              5            2
194647             2       0         2      4165              3            2
194648             1       0         2     14669              8            2
194649             2       0         0     23310              6            6
194650             2       0         2     12335              7            5
194651             1       0         0     19329              3            3
194652             1       0         2     11573              7            3
194653             2       0         2       603              7            6
194654             1       1         0     16381              5            2
194655             2       1         0     20764              5            4
194656             2       0         0      2562              3            2
194657             1       0         2     19430              2            2
194658             1       0         2      4086              4            3
194659             1       0         2     10049              7            2
194660             2       0         2     17895              5            1
194661             2       0         2     15332              6            2
194662             1       0         2     14051              7            2
194663             2       0         2     14075              8            3
194664             1       0         0      1214              8            8
194665             1       0         0     14769              8            2
194666             2       0         2     21178              8            2
194667             1       0         2      9401              5            1
194668             2       0         2     11059              9            3
194669             1       0         2      7844              4            2
194670             2       0         0      7198              6            3
194671             2       0         0     15901              1            2
194672             1       0         2     18579              4            2

        PEDCOUNT  PEDCYLCOUNT  VEHCOUNT  INCDTTM  JUNCTIONTYPE  \
0              0            0         2   122872             1
1              0            0         2   132401             5
2              0            0         3   146264             5
3              0            0         3   152436             5
4              0            0         2   153158             1
5              0            0         2    52778             1
6              0            0         2   133518             1
7              0            1         1    34301             1
8              0            0         2    37419             5
9              0            0         2    54672             1
10             0            0         2   137860             6
11             0            0         2    49080             1
12             0            0         2    45132             5
13             0            0         2    61400             5
14             0            0         2    55266             5
15             0            0         0     4274             6
16             0            0         2   103794             1
17             0            0         2    13967             3
18             0            0         3   125217             5
19             0            0         2    21982             5
20             0            0         2    41308             5
21             0            0         3    79320             1
22             0            0         2   147519             5
23             0            0         1    40018             5
24             0            0         2    28734             1
25             0            1         1    61129             5
26             0            0         2   129780             1
27             0            0         2    85601             6
28             0            0         2   130160             5
29             0            0         2   110160             5
...          ...          ...       ...      ...           ...
194643         0            0         2    42440             5
194644         0            0         2   151613             1
194645         0            0         2    24043             7
194646         0            0         0   138395             5
194647         1            0         1   132816             5
194648         0            0         2    50883             5
194649         0            0         3   149625             1
194650         0            0         5   151175             5
194651         1            0         1    10421             1
194652         0            0         2   159858             5
194653         0            0         6    73027             5
194654         0            0         0    68354             1
194655         0            0         0    81475             1
194656         1            0         1    53201             1
194657         0            0         2    53903             5
194658         0            0         3    77557             5
194659         0            0         2   155400             0
194660         0            0         1    46124             5
194661         0            0         2    98041             3
194662         0            0         2    63426             3
194663         0            0         2   108940             5
194664         0            0         3   152711             1
194665         0            0         2    60653             1
194666         0            0         2    67878             5
194667         0            0         1    73286             5
194668         0            0         2    51643             5
194669         0            0         2     8689             5
194670         0            0         2    82727             1
194671         0            1         1    39588             1
194672         0            0         2   154756             5

        INATTENTIONIND  UNDERINFL  WEATHER  ROADCOND  LIGHTCOND  \
0                    1          1        1         4          7
1                    1          1        8         4          4
2                    1          1        1         2          7
3                    1          1       10         2          7
4                    1          1        8         4          7
5                    1          1       10         2          7
6                    1          1        8         4          7
7                    1          1       10         2          7
8                    1          1       10         2          7
9                    1          1       10         2          7
10                   1          1        1         2          7
11                   1          1       10         2          7
12                   1          1        8         4          4
13                   1          1        8         4          0
14                   1          1       10         2          4
15                   1          0        2         5          3
16                   1          1        1         2          7
17                   1          1        1         2          7
18                   1          1       10         2          7
19                   1          1        6         2          3
20                   1          1       10         2          4
21                   1          1       10         2          7
22                   0          1       10         2          4
23                   1          1        6         5          3
24                   1          1       10         2          7
25                   0          1       10         2          7
26                   1          1        1         4          3
27                   1          1       10         2          7
28                   1          1       10         2          7
29                   1          1       10         2          7
...                ...        ...      ...       ...        ...
194643               1          1       10         2          4
194644               1          1       10         2          5
194645               1          1       10         2          4
194646               1          0        2         5          3
194647               0          1        8         4          5
194648               1          2        8         4          4
194649               1          1       10         2          4
194650               1          1       10         2          7
194651               1          1       10         4          4
194652               0          1        1         4          5
194653               1          2        1         4          4
194654               1          0        2         5          3
194655               1          0        2         5          3
194656               1          1       10         2          7
194657               1          1        8         4          4
194658               1          1        8         4          4
194659               1          1        8         4          4
194660               1          1        8         4          2
194661               1          2       10         2          7
194662               1          1       10         2          5
194663               0          1        8         4          7
194664               1          1       10         2          7
194665               1          1       10         2          7
194666               1          1       10         4          7
194667               1          2        8         4          4
194668               1          1       10         2          7
194669               0          1        8         4          7
194670               1          1       10         2          7
194671               1          1       10         2          5
194672               1          1       10         4          7

        PEDROWNOTGRNT  SPEEDING  HITPARKEDCAR
0                   0         1             1
1                   0         1             1
2                   0         1             1
3                   0         1             1
4                   0         1             1
5                   0         1             1
6                   0         1             1
7                   0         1             1
8                   0         1             1
9                   0         1             1
10                  0         1             1
11                  0         1             1
12                  0         1             1
13                  0         1             1
14                  0         1             1
15                  0         1             1
16                  0         1             1
17                  0         1             1
18                  0         1             1
19                  0         1             1
20                  0         1             1
21                  0         1             1
22                  0         1             1
23                  0         1             1
24                  0         0             1
25                  0         1             1
26                  0         1             1
27                  0         1             1
28                  0         1             1
29                  0         1             1
...               ...       ...           ...
194643              0         1             1
194644              0         1             1
194645              0         1             1
194646              0         1             1
194647              0         1             1
194648              0         1             1
194649              0         1             1
194650              0         1             0
194651              0         1             1
194652              0         1             0
194653              0         1             0
194654              0         1             1
194655              0         1             1
194656              0         1             1
194657              0         1             1
194658              0         1             1
194659              0         1             0
194660              0         1             1
194661              0         1             1
194662              0         1             0
194663              0         1             1
194664              0         1             1
194665              0         1             1
194666              0         1             1
194667              0         1             1
194668              0         1             1
194669              0         1             1
194670              0         1             1
194671              0         1             1
194672              0         1             1

[194673 rows x 19 columns]>

In [14]:
df['SEVERITYCODE'].value_counts() #Even though the metadata description shows 5 codes to classify severity, how many are actually present in the data?

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

## Setting up the Decision Tree Classifier

In [15]:
X = df.drop(['SEVERITYCODE'],1).values
y = df['SEVERITYCODE'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 4)
X = preprocessing.StandardScaler()

In [16]:
X_train.shape

(136271, 18)

In [17]:
y_train.shape

(136271,)

In [18]:
clf = DecisionTreeClassifier(criterion = "entropy")
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
prediction = clf.predict(X_test)

In [20]:
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, prediction))

DecisionTrees's Accuracy:  0.6820143145782679

In [21]:
#tree.plot_tree(clf)

## Let's compare to K-Nearest Neighbors performance

In [22]:
clf_neighbors = KNeighborsClassifier(n_neighbors = 2)
clf_neighbors.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [24]:
prediction_neigh = clf_neighbors.predict(X_test)
print("KNearestNeighbor's Accuracy: ", metrics.accuracy_score(y_test, prediction_neigh))

KNearestNeighbor's Accuracy:  0.667682613609123

## Let's compare to SVM

In [26]:
clf_svm = svm.SVC(kernel = 'rbf')
clf_svm.fit(X_train, y_train)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [27]:
prediction_svm = clf_svm.predict(X_test)
print("SVM's (rbf) Accuracy: ", metrics.accuracy_score(y_test, prediction_svm))

SVM's (rbf) Accuracy:  0.7034176911749598