# Data Science Capstone Week 1

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing, metrics
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Capstone Week 2

In [3]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

## Check datatypes of imported data

In [4]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [5]:
df['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

## Drop features that have no impact on outcome, such as arbitrary report numbers, etc.

In [6]:
df.drop(['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'INCDATE', 'SEVERITYCODE.1', 'ST_COLDESC'], 1, inplace = True)

## Preprocessing - Review each feature and fill in the NA's.

In [7]:
df['SPEEDING'].fillna('N', inplace =True)
df['SPEEDING'].value_counts()
df['INATTENTIONIND'].fillna('N', inplace =True)
df['INATTENTIONIND'].value_counts()
df['ROADCOND'].fillna('Unknown', inplace = True)
df['ROADCOND'].value_counts()
df['LIGHTCOND'].fillna('Unknown', inplace = True)
df['LIGHTCOND'].value_counts()
df['PEDROWNOTGRNT'].fillna('N', inplace = True)
df['PEDROWNOTGRNT'].value_counts()
df['SDOTCOLNUM'].fillna(0, inplace = True)
df['ST_COLCODE'].fillna(31, inplace = True)
df['JUNCTIONTYPE'].fillna('Unknown', inplace = True)
df['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
Unknown                                               6338
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Name: JUNCTIONTYPE, dtype: int64

## Checking how many more features have NA's

In [8]:
df.isnull().sum(axis = 0)

SEVERITYCODE           0
X                   5334
Y                   5334
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
JUNCTIONTYPE           0
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND         0
UNDERINFL           4884
WEATHER             5081
ROADCOND               0
LIGHTCOND              0
PEDROWNOTGRNT          0
SDOTCOLNUM             0
SPEEDING               0
ST_COLCODE             0
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [9]:
df['ADDRTYPE'].fillna('Block', inplace = True)
df['ADDRTYPE'].value_counts()
df['WEATHER'].fillna('Other', inplace = True)
df['WEATHER'].value_counts()
df['UNDERINFL'].replace({'N':'0', 'Y':'1'}, inplace = True)
df['UNDERINFL'].value_counts()
df['COLLISIONTYPE'].fillna('Other', inplace = True)
df['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         28607
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

## Filling in the remaining NA's with '0'

In [10]:
df.fillna(0, inplace = True)
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

## Handling the non-numerical data

In [11]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x += 1
            df[column] = list(map(convert_to_int, df[column]))
    return df
df = handle_non_numerical_data(df)
df.head

<bound method NDFrame.head of         SEVERITYCODE           X          Y  STATUS  ADDRTYPE   INTKEY  \
0                  2 -122.323148  47.703140       0         0  37475.0
1                  1 -122.347294  47.647172       0         1      0.0
2                  1 -122.334540  47.607871       0         1      0.0
3                  1 -122.334803  47.604803       0         1      0.0
4                  2 -122.306426  47.545739       0         0  34387.0
5                  1 -122.387598  47.690575       0         0  36974.0
6                  1 -122.338485  47.618534       0         0  29510.0
7                  2 -122.320780  47.614076       0         0  29745.0
8                  1 -122.335930  47.611904       0         1      0.0
9                  2 -122.384700  47.528475       0         0  34679.0
10                 1    0.000000   0.000000       0         2      0.0
11                 1 -122.333831  47.547371       0         0  33194.0
12                 1 -122.356273  47.571375       1         1      0.0
13                 1 -122.323966  47.606374       0         1      0.0
14                 2 -122.317414  47.664028       0         1      0.0
15                 1 -122.337663  47.617510       1         1      0.0
16                 2 -122.344539  47.692012       0         0  37365.0
17                 1    0.000000   0.000000       0         1      0.0
18                 2 -122.328270  47.571420       0         1      0.0
19                 1 -122.383802  47.583715       0         1      0.0
20                 2 -122.292403  47.732847       0         1      0.0
21                 2 -122.313786  47.708535       0         0  36505.0
22                 1 -122.318169  47.615837       0         1      0.0
23                 1 -122.337486  47.589746       0         1      0.0
24                 2 -122.279658  47.553405       0         0  33499.0
25                 2 -122.312857  47.599218       0         1      0.0
26                 1 -122.330730  47.615450       0         0  29865.0
27                 1 -122.385859  47.581191       0         1      0.0
28                 1 -122.304990  47.611474       0         1      0.0
29                 1    0.000000   0.000000       0         1      0.0
...              ...         ...        ...     ...       ...      ...
194643             1 -122.345863  47.612991       0         1      0.0
194644             1 -122.330298  47.603233       0         0  30479.0
194645             2 -122.328079  47.604161       0         0  29973.0
194646             1 -122.320756  47.608656       1         1      0.0
194647             2 -122.355449  47.704720       0         1      0.0
194648             1 -122.357624  47.635956       0         1      0.0
194649             2 -122.302382  47.626759       0         0  29328.0
194650             2 -122.355298  47.684382       0         1      0.0
194651             1 -122.320780  47.614076       0         0  29745.0
194652             1 -122.335527  47.617434       0         1      0.0
194653             2 -122.322097  47.649615       0         1      0.0
194654             1 -122.312679  47.719414       1         0  36427.0
194655             2 -122.380016  47.664879       1         0  25174.0
194656             2 -122.340474  47.614496       0         0  29545.0
194657             1 -122.337137  47.610709       0         1      0.0
194658             1 -122.302554  47.584099       0         1      0.0
194659             1 -122.298955  47.717456       0         1      0.0
194660             2    0.000000   0.000000       0         1      0.0
194661             2 -122.306092  47.617881       0         1      0.0
194662             1 -122.337880  47.625793       0         1      0.0
194663             2 -122.299160  47.579673       0         1      0.0
194664             1 -122.325887  47.643191       0         0  28300.0
194665             1 -122.304217  47.669537       0         0  26005.0
194666             2 -122.344569  47.694547       0         1      0.0
194667             1 -122.361672  47.556722       0         1      0.0
194668             2 -122.290826  47.565408       0         1      0.0
194669             1 -122.344526  47.690924       0         1      0.0
194670             2 -122.306689  47.683047       0         0  24760.0
194671             2 -122.355317  47.678734       0         0  24349.0
194672             1 -122.289360  47.611017       0         1      0.0

        LOCATION  SEVERITYDESC  COLLISIONTYPE  PERSONCOUNT  ...  WEATHER  \
0           9104             1              7            2  ...        2
1          16481             0              9            2  ...        8
2          16109             0              8            4  ...        2
3          14696             0              3            3  ...        9
4          23128             1              7            2  ...        8
5          21207             0              7            2  ...        9
6          18084             0              7            2  ...        8
7          11275             1              1            3  ...        9
8           1155             0              8            2  ...        9
9          10779             1              7            2  ...        9
10             0             0              3            2  ...        2
11         20501             0              7            2  ...        9
12          1599             0              0            0  ...        8
13          4964             0              8            2  ...        8
14         21791             1              4            2  ...        9
15         20936             0              3            1  ...        3
16         15376             1              5            3  ...        2
17         21234             0              0            0  ...        2
18         22772             1              0            4  ...        9
19         22417             0              8            2  ...        4
20         16200             1              0            3  ...        9
21         20395             1              7            5  ...        9
22         23559             0              8            2  ...        9
23         15425             0              3            1  ...        4
24           211             1              0            3  ...        9
25          3355             1              1            2  ...        9
26          3981             0              5            2  ...        2
27         13647             0              7            2  ...        9
28         11279             0              3            2  ...        9
29          3302             0              8            2  ...        9
...          ...           ...            ...          ...  ...      ...
194643     18058             0              8            2  ...        9
194644      6006             0              7            2  ...        9
194645      2939             1              2            5  ...        9
194646     14966             0              3            2  ...        3
194647     20468             1              6            2  ...        8
194648      4434             0              7            2  ...        8
194649      3358             1              5            6  ...        9
194650     13730             1              8            5  ...        9
194651     11275             0              6            3  ...        9
194652     22448             0              8            3  ...        2
194653     14761             1              8            6  ...        2
194654     22101             0              3            2  ...        3
194655     19305             1              3            4  ...        3
194656      9043             1              6            2  ...        9
194657     22467             0              9            2  ...        8
194658     13055             0              0            3  ...        8
194659      2962             0              8            2  ...        8
194660     22591             1              3            1  ...        8
194661     19175             1              5            2  ...        9
194662      7954             0              8            2  ...        9
194663     20997             1              7            3  ...        8
194664      8791             0              7            8  ...        9
194665     14081             0              7            2  ...        9
194666     20986             1              7            2  ...        9
194667     23211             0              3            1  ...        8
194668     22979             1              4            3  ...        9
194669      6239             0              0            2  ...        8
194670     22099             1              5            3  ...        9
194671     11315             1              1            2  ...        9
194672      6128             0              0            2  ...        9

        ROADCOND  LIGHTCOND  PEDROWNOTGRNT  SDOTCOLNUM  SPEEDING  ST_COLCODE  \
0              6          7              1         0.0         1         108
1              6          1              1   6354039.0         1          85
2              1          7              1   4323031.0         1          71
3              1          7              1         0.0         1         107
4              6          7              1   4028032.0         1         108
5              1          7              1         0.0         1         108
6              6          7              1   8344002.0         1         108
7              1          7              1         0.0         1          72
8              1          7              1   6166014.0         1          71
9              1          7              1   6079001.0         1         108
10             1          7              1   6145029.0         1          60
11             1          7              1   5223041.0         1         108
12             6          1              1   3137016.0         1         103
13             6          8              1   5356027.0         1          71
14             1          1              1         0.0         1          63
15             4          4              1         0.0         1          94
16             1          7              1   5182022.0         1          95
17             1          7              1   4016025.0         1         103
18             1          7              1         0.0         1         103
19             1          4              1   9152035.0         1          71
20             1          1              1         0.0         1         103
21             1          7              1         0.0         1         108
22             1          1              1   8200013.0         1          71
23             4          4              1   4256026.0         1          67
24             1          7              1         0.0         0         103
25             1          7              1         0.0         1          72
26             6          4              1  10317016.0         1          95
27             1          7              1   7204015.0         1         108
28             1          7              1         0.0         1         107
29             1          7              1   6320040.0         1          71
...          ...        ...            ...         ...       ...         ...
194643         1          1              1         0.0         1          86
194644         1          3              1         0.0         1         108
194645         1          1              1         0.0         1          81
194646         4          4              1         0.0         1          94
194647         6          3              1         0.0         1          78
194648         6          1              1         0.0         1         108
194649         1          1              1         0.0         1          95
194650         1          7              1         0.0         1          71
194651         6          1              1         0.0         1          78
194652         6          3              1         0.0         1          71
194653         6          1              1         0.0         1          71
194654         4          4              1         0.0         1          94
194655         4          4              1         0.0         1          94
194656         1          7              1         0.0         1          84
194657         6          1              1         0.0         1          85
194658         6          1              1         0.0         1         103
194659         6          1              1         0.0         1          71
194660         6          2              1         0.0         1          96
194661         1          7              1         0.0         1          75
194662         1          3              1         0.0         1          71
194663         6          7              1         0.0         1         108
194664         1          7              1         0.0         1         108
194665         1          7              1         0.0         1         108
194666         6          7              1         0.0         1         108
194667         6          1              1         0.0         1          45
194668         1          7              1         0.0         1          77
194669         6          7              1         0.0         1          68
194670         1          7              1         0.0         1          95
194671         1          3              1         0.0         1          72
194672         6          7              1         0.0         1         103

        SEGLANEKEY  CROSSWALKKEY  HITPARKEDCAR
0                0             0             1
1                0             0             1
2                0             0             1
3                0             0             1
4                0             0             1
5                0             0             1
6                0             0             1
7             6855             0             1
8                0             0             1
9                0             0             1
10               0             0             1
11               0             0             1
12               0             0             1
13               0             0             1
14               0             0             1
15               0             0             1
16               0             0             1
17               0             0             1
18               0             0             1
19               0             0             1
20               0             0             1
21               0             0             1
22               0             0             1
23               0             0             1
24               0             0             1
25               0             0             1
26               0             0             1
27               0             0             1
28               0             0             1
29               0             0             1
...            ...           ...           ...
194643           0             0             1
194644           0             0             1
194645           0             0             1
194646           0             0             1
194647           0             0             1
194648           0             0             1
194649           0             0             1
194650           0             0             0
194651           0        522257             1
194652           0             0             0
194653           0             0             0
194654           0             0             1
194655           0        650595             1
194656           0        523322             1
194657           0             0             1
194658           0             0             1
194659           0             0             0
194660           0             0             1
194661           0             0             1
194662           0             0             0
194663           0             0             1
194664           0             0             1
194665           0             0             1
194666           0             0             1
194667           0             0             1
194668           0             0             1
194669           0             0             1
194670           0             0             1
194671        4308             0             1
194672           0             0             1

[194673 rows x 29 columns]>

In [12]:
df['SEVERITYCODE'].value_counts() #Even though the metadata description shows 5 codes to classify severity, how many are actually present in the data?

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

## Setting up the Decision Tree Classifier

In [13]:
X = np.array(df.drop(['SEVERITYCODE'],1).astype(float))
y = np.array(df['SEVERITYCODE'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
clf = DecisionTreeClassifier(criterion = "entropy", max_depth = 4)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
prediction = clf.predict(X_test)

In [15]:
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, prediction)) #Perfect accuracy!!! What!?!?!?

DecisionTrees's Accuracy:  1.0